body {
    background = "lava6.gif";
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    color: aqua;
}

.random {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 20px;
    right: 400px;

}

button {
    display: inline-block;
    padding: 10px 20px;
}

.lista {
    text-align: left;
}
.list {
    list-style-type: none;
}
.volcan {

    position: relative;
    top: 110px;
    left: 400px;
    height: 500px;

}