body {
    background-image: url("lava6.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.container{

    color: #fef52b;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 2%;
}
#footer {

    content: url("volcan2.png");
    position: absolute;
    height: 450px;
    margin-bottom: 0;
    margin-left: 28%;
    float: right;

}
.random {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    text-shadow: #c31105 0 -4px;
    font-weight: bold;


}
#select {
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 120%;
    align-self: center;
    color: #fef52b;
    position: relative;
    font-weight: bold;
}
.fila {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.botones {
    width: 230px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
#generate {
    color: #eed970;
    font-size: 20px;
    border-radius: 25px;
    border: #eed970;
    padding: 10px;
    width: 200px;
    margin-bottom: 40%;
    margin-top: 65%;
    margin-left: 70%;
    background-color: transparent;
    text-shadow: darkorange 0.1em 0.1em 0.2em;
    box-shadow: 0 0 10px 5px #ff874b;
}
#generate:hover {
    background-color: #feab28;
    color: white;
}

#rest {
    color: #eed970;
    font-size: 20px;
    margin-left: 125%;
    border-radius: 25px;
    border: #eed970;
    padding: 10px;
    background-color: transparent;
    text-shadow: darkorange 0.1em 0.1em 0.2em;
    box-shadow: 0 0 10px 5px #ff874b;
}
#rest:hover {
    background-color: #feab28;
    color: white;
}
/*
.lista {
    text-align: left;
}
.list {
    list-style-type: none;
 */