body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
}

.random {
    display: inline-block;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
}

.lista {
    text-align: left;
}
.list {
    list-style-type: none;
}
.volcan {

    position: relative;
    top: 20px;
    left: 400px;

}